
# web server
OPENVPN_PKI_URL=http://openvpn-pki:5000
OPENVPN_HOST=openvpn-pki

FREERADIUS_CLIENT_SECRET=secret
LETSENCRYPT_EMAIL=admin@example.com

# website
WEBPACKER_HOST=webpacker
WEBPACKER_PORT=3035
WEBPACKER_URL=webpacker:3035

REDIS_URL=redis://redis:6378/1
RAILS_ENV=development
RACK_ENV=development 
NODE_ENV=development