<%#= react_component("App", { path: request.path }, { prerender: true } ) #%>
<%#= react_component("App", { token: @csrf_token }, { prerender: true }) #%>
<%#= react_component("App", { token: @csrf_token }) #%>

<%= javascript_pack_tag 'app_pack' %>
<div id="app_pack"></div>