<div class="payment_methods card-deck mb-3 text-dark text-center">
  <%
  item_active = 1
  (0..2).each do |item|
    active_image, active_class = signup_icon_active(item, item_active) %>
  <%= render partial: 'auth/payment_method_item', locals: { image_name: active_image, active_class: active_class } %>
  <% end %>
</div>

<div class="container payment_methods border_1_pink">
  <div class="row shadow-vega pb-5">
    <div class="col-md-8 offset-md-2 text-left">
      <%= render partial: 'payment_methods_card_info', locals: {f: f} %>
    </div>
  </div>
</div>