<div class="card mb-3 shadow-vega <%= active_class %>">
  <div class="card-header">
    <%= image_tag image_name, {class: 'mt-n5'} %>
    <h5 class="my-0 font-weight-normal">Cryptocurrencies</h4>
  </div>
  <div class="card-body">
    <% [ 'bitcoin', 'ripple', 'ethereum' ].each do |image_name| %>
    <%= link_to image_tag("signup/payment_methods/#{image_name}", class: 'img-fluid'), '#', {class: ''} %>
    <% end %>
  </div>
</div>