<div class="card mb-3 shadow-vega <%= active_class %>">
  <div class="card-header">
    <div class="icon-checkbox <%= active_class %>"></div>
    <h5 class="pt-3 mb-0 font-weight-normal"><%=t('payment_method.credit_card')%></h5>
  </div>
  <div class="card-body pt-0">
    <% [ 'discover', 'mastercard', 'visa', 'amex' ].each do |image_name| %>
    <%= image_tag "signup/payment_methods/credit_card/#{image_name}.png", { class: 'img-fluid' } %>
    <% end %>
  </div>
  <div class="card-footer"></div>
</div>