<div class="card mb-3 shadow-vega border_1_pink">
  <div class="card-header">
    <%= image_tag image_name, {class: 'mt-n5'} %>
    <h4 class="my-0 font-weight-normal">Plan for 1 year</h4>
  </div>
  <div class="card-body">
    <!-- <h1 class="card-title pricing-card-title">
      <span class="text-sm-1 align-text-top">$</span>2.99 <small class="text-muted">/
        mo</small></h1> -->
    <h1 class="card-title pricing-card-title">
      <span class="text-sm-1 align-text-top">$</span>2.99<br>
      <span class="text-sm-1 align-text-top no-gutters">Per month</span>
    </h1>
    <h5 class="card-title pricing-card-title"></h5>

    <p>
      <%= link_to 'Save $ 322.65', '#', {class: "btn btn-pink-dark #{active_class} rounded-pill text-white"} %>
    </p>

    <h5 class="card-title pricing-card-title text-info"><strike>$430.20</strike></h5>
    <h5 class="card-title pricing-card-title">$107.55 every 3 years</h5>

    <ul class="text-left">
      <li>All Countries</li>
      <li>5 Devices simultaneously</li>
      <li>High Speed</li>
      <li>Unlimited traffic</li>
    </ul>
    <button type="button" class="btn btn-outline-primary rounded-pill mb-n9">Best
      offer</button>
  </div>
</div>