<div class="plans card-deck mb-3 text-dark text-center">
  <% (0..3).each do |item| %>
  <% image_name = item > 0 ? 'signup/off' : 'signup/on' %>
  <% active_class = item > 0 ? '' : 'active' %>
  <%= render partial: 'auth/plan_item', locals: { image_name: image_name, active_class: active_class } %>
  <% end %>
</div>