<div class="plans card-deck mb-3 text-dark text-center">
  <% (0..3).each do |item| %>
  <% image_name = item > 0 ? 'signup/off' : 'signup/on' %>
  <%= render partial: 'plans/item', locals: {image_name: image_name } %>
  <% end %>
</div>