<div class="container reset_pwd">
  <div class="featurette text-center">
    <div class="row">
      <div class="col-md-4 offset-md-4 text-center">
        <h1 class="featurette-heading">
          <%= t('pages.reset_pwd.success.title') %>
        </h1>
        <p class="lead">
          <%= t('pages.reset_pwd.success.subtitle') %>
        </p>
        <%= link_to t('buttons.ok'), root_path, {class:'btn btn-outline-primary btn-block'} %>
      </div>
    </div>
  </div>
</div>