html {
  background: #0F0216 url('../images/bg1.svg') no-repeat;
  color: #ffffff;

  /* background-image: url('../images/bg1.svg'), url('../images/bg2.svg');
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat; */
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  color:#ffffff;
  background-color:transparent;

}
.logo {

}
.card {
  background-color: #0F0216;
  color:#ffffff;
}
.bg2 {
  background:#0F0216 url('../images/bg2.png') no-repeat bottom;

}
.footer {
  background-color:#7D2864;
}
footer {
  font-family: "Montserrat";
/* font-style: normal; */
/* font-weight: bold; */
/* font-size: 18px; */
/* line-height: 22px; */
}