<div class="container">
  <div class="card">
    <h5 class="card-header"><%=image_tag 'logo_mail_black' %></h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
        notify user

        contact link: <%=api_v1_contact_url(@contact.id)%>

      </p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>

</div>