<div id="features" class="features row">

  <% items.each do |item| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= render partial: 'shared/feature', locals: {item: item} %>
  </div>
  <% end %>
</div>