<div class="card" style="">
  <div class="card-header">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <%= image_tag 'features/no_logs.png', {class: 'card-img-left', alt: 'no logs' } %>
    <h5 class="card-title"><%= item.try(:title) %></h5>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= item.try(:subtitle) %></h5>
    <p class="card-text"><%= item.try(:text) %></p>
    <!-- <a href="#" class="btn btn-primary"></a> -->
  </div>
</div>