<ul class="list-group bg-vega">
  <li class="list-group-item bg-transparent">SETTINGS</li>
  <li class="list-group-item bg-transparent">Dashboard</li>
  <li class="list-group-item bg-transparent">Account</li>
  <li class="list-group-item bg-transparent">Tickets</li>
  <li class="list-group-item bg-transparent">Payment</li>
  <li class="list-group-item bg-transparent">Downloads</li>
  <li class="list-group-item bg-transparent">Refer Friends</li>

  <!-- 
  <li class="list-group-item bg-transparent">Invoices</li>
  <li class="list-group-item bg-transparent">Change Password</li>
  <li class="list-group-item bg-transparent">Sign Out</li>
  -->

  <!-- <li class="list-group-item bg-transparent">VPN Accounts</li>
  <li class="list-group-item bg-transparent">Update Profile</li>
  <li class="list-group-item bg-transparent">Change Password</li>
  <li class="list-group-item bg-transparent">Submit Ticket</li>
  <li class="list-group-item bg-transparent">Support Tickets</li>
  <li class="list-group-item bg-transparent">Invoice History</li>
  <li class="list-group-item bg-transparent">Delete Account</li> -->
</ul>