<div class="product_with_btn_pricing row featurette">
  <div class="col-md-7">
    <h1 class="featurette-heading">
      Take control of who has access to your private data
    </h1>
    <p class="lead"><%=t('vegaVPN')%> encrypts your internet activity, shielding you from hackers, ISP's and everyone
      else who has
      no business recording what you haven't chosen to share.</p>
    <a href="#" class="btn btn-outline-primary "><span class=" 	glyphicon glyphicon-circle-arrow-right"></span>View
      pricing &#8594;</a>
  </div>
  <div class="col-md-5">
    <%= image_tag "phone.png", { class:'img-fluid', alt: '' } %>
  </div>
</div>
<%#= image_tag 'compare/header_with_first_section.png', {class:'img-fluid'} #%>