<div class="product_with_btn_pricing row featurette">
  <div class="col-md-7">
    <h1 class="featurette-heading">
      Take control of who has access to your private data.
    </h1>
    <p class="lead">IVPN encrypts your internet activity, shielding you from hackers, ISP's and everyone else who has
      no business recording what you haven't chosen to share.</p>
    <a href="#" class="btn btn-outline-primary "><span class=" 	glyphicon glyphicon-circle-arrow-right"></span>View
      pricing &#8594;</a>
  </div>
  <div class="col-md-5">
    <%= image_tag 'phone', { class:'img-fluid', alt: '' } %>
    <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
      xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
      aria-label="Placeholder: 500x500">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
    </svg> -->
  </div>
</div>

<!-- 
<div
  class="product_with_btn_pricing row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <h1 class="mb-0">Take control of who has access to your private data</h1>
    <p class="mb-auto">IVPN encrypts your internet activity, shielding you from hackers, ISP's and everyone else who has
      no business recording what you haven't chosen to share.</p>
    <a href="#" class="btn btn-outline-primary "><span class=" 	glyphicon glyphicon-circle-arrow-right"></span>View
      pricing &#8594;</a>
  </div>
  <div class="col-auto d-none d-lg-block">
    <%= image_tag 'phone', { class:'img-fluid', alt: '' } %>
  </div>
</div> -->