<div
  class="product_with_btn_pricing row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <h1 class="mb-0">Take control of who has access to your private data</h1>
    <p class="mb-auto">IVPN encrypts your internet activity, shielding you from hackers, ISP's and everyone else who has
      no business recording what you haven't chosen to share.</p>
    <a href="#" class="btn btn-outline-primary "><span class=" 	glyphicon glyphicon-circle-arrow-right"></span>View
      pricing &#8594;</a>
  </div>
  <div class="col-auto d-none d-lg-block">
    <%= image_tag 'phone', { class:'img-fluid', alt: '' } %>
  </div>
</div>