<div class="card text-center shadow-vega">
  <div class="card-header">
    Why the Media loves VPN
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <p class="card-text"> The NSA has built an infrastructure that allows it to intercept almost everything. With this
      capability, the vast majority of human communications are automatically ingested without targeting. If I wanted to
      see your emails or your... </p>
    <a href="#" class="color-vega">read more</a>
  </div>
  <div class="card-footer text-left">
    <%=render partial: 'shared/review_list' %>
  </div>
</div>