<div class="jumbotron bg-transparent shadow-vega text-center">
  <p>Why the Media loves VPN</p>
  <!-- <h5 class="display-4">Why the Media loves VPN</h5> -->
  <!-- <p class="lead">
    The NSA has built an infrastructure that allows it to intercept almost everything. With this
    capability, the vast majority of human communications are automatically ingested without targeting. If I wanted to
    see your emails or your...
  </p> -->
  <hr class="my-4">
  <p>
    The NSA has built an infrastructure that allows it to intercept almost everything. With this
    capability, the vast majority of human communications are automatically ingested without targeting. If I wanted to
    see your emails or your...
  </p>
  <a class="color-vega" href="#">read more</a>
  <br /><br />
  <div class="text-left"><%=render partial: 'shared/review_list' %></div>
</div>