<%#=image_tag 'compare/reviews', class: 'img-fluid' #%>
<div class="reviews card text-center shadow-vega">
  <div class="card-header">
    Why the Media loves VPN
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <p class="card-text bg-gradient-success"> The NSA has built an infrastructure that allows it to intercept almost
      everything. With this
      capability, the vast majority of human communications are automatically ingested without targeting. If I wanted to
      see your emails or your...
    </p>
    <a class="color-vega text-decoration-none" data-toggle="collapse" href="#readMore" role="button"
      aria-expanded="false" aria-controls="readMore">
      read more
    </a>
    <div class="collapse card-text" id="readMore">
      <p class="card-text">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </p>
      <a class="color-vega text-decoration-none" data-toggle="collapse" href="#readMore" role="button"
        aria-expanded="false" aria-controls="readMore">
        less more
      </a>
    </div>
  </div>
  <div class="card-footer text-left">
    <%= render partial: 'shared/review_list' %>
  </div>
</div>