<div id="services" class="services row">
  <%#=image_tag 'compare/features.png' #%>

  <% (1..6).each do |item| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= render 'shared/service' %>
  </div>
  <% end %>
</div>