<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item col-sm-6 col-md-3">
    <div class="review-owner-container" id="pills-plan-1mo-tab" data-toggle="pill" href="#pills-plan-1mo" role="tab"
      aria-controls="pills-plan-1mo" aria-selected="true">
      <button class="btn btn-pink-dark active rounded-pill">Plan for 1 mo</button>
    </div>
  </li>
  <li class="nav-item col-sm-6 col-md-3">
    <div class="review-owner-container" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
      aria-controls="pills-home" aria-selected="true">
      <button class="btn btn-pink-dark rounded-pill">Plan for 1 year</button>
    </div>
  </li>
  <li class="nav-item col-sm-6 col-md-3">
    <div class="active review-owner-container" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
      role="tab" aria-controls="pills-profile" aria-selected="false">
      <button class="btn btn-pink-dark rounded-pill">Plan for 3 mo</button>
    </div>
  </li>
  <li class="nav-item col-sm-6 col-md-3">
    <div class="review-owner-container" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
      aria-controls="pills-contact" aria-selected="false">
      <button class="btn btn-pink-dark rounded-pill">Plan for free</button>
    </div>
  </li>
</ul>


<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-plan-1mo" role="tabpanel" aria-labelledby="pills-plan-1mo-tab">
    0
  </div>
  <div class="tab-pane fade show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    1
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    2
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    3
  </div>
</div>