<div class="container">
  <%= render partial: 'shared/product_with_btn_pricing'%>

  <%= render partial: 'shared/security_and_trust'%>

  <%= render partial: 'shared/pricing'%>
</div>

<div class="container-fluid bg2">
  <div class="container">
    <%= render partial: 'shared/downloads'%>
  </div>
</div>