<div class="row bg1">
  <div class="container-fluid">
    <%= render partial: 'shared/header' %>
    <div class="container">
      <%= render partial: 'shared/security_and_trust'%>
    </div>
  </div>
  <div class="container-fluid ">
    <%= render partial: 'shared/pricing'%>
    <div class="row bg2">
      <div class="container">
        <%= render partial: 'shared/downloads'%>
      </div>
    </div>
  </div>
</div>