<div class="row bg1">
  <div class="container-fluid">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
      <h5 class=".logo .text-white my-0 mr-md-auto font-weight-normal">VEGA <span class="badge badge-dark">vpn</span>
      </h5>

      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white" href="#">Features</a>
        <a class="p-2 text-white" href="#">Pricing</a>
        <a class="p-2 text-white" href="#">Apps</a>
        <a class="p-2 text-white" href="#">Help</a>
      </nav>
      <a class="btn btn-outline-light" href="#">Log in</a>
      <a class="btn btn-outline-danger" href="#">Sign up</a>
    </div>
    <div class="container">
      <%= render partial: 'shared/security_and_trust'%>
    </div>
  </div>
  <div class="container-fluid ">
    <%= render partial: 'shared/pricing'%>
    <div class="row bg2">
      <div class="container">
        <%= render partial: 'shared/downloads'%>
      </div>
    </div>
  </div>
</div>