<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 border_1_pink text-center shadow-vega">
        <h1>
          One price for all your devices
        </h1>
        <%= link_to 'Start my free trial', '#', {class: 'btn btn-outline-primary'} %>
      </div>

      <%= render partial: 'shared/reviews_section_tab' %>

    </div>

    <div class="row">
      <div class="col-sm-6">
        <h1>Cheap, fast or secure. You can only choose two.</h1>
        <p>You will find cheaper VPN services but you won’t find a better one. Others charge a little less, then make up
          the difference by overselling their servers, severely impacting your performance.

          By charging a little more, VPN can provide you with better security, faster servers and awesome support from
          IT
          professionals. The difference is only a few dollars a month for a service that will affect your online
          experience every day.</p>
      </div>
      <div class="col-sm-6">
        <h1>All plans include:</h1>
        <ul>
          <li>7-day unconditional guarantee</li>
          <li>Protection for all your devices</li>
          <li>24/7 Support</li>
          <li>Audited no-logs service</li>
          <li>Access to all servers</li>
          <li>Apps for Windows, macOS, iOS, Android</li>
          <li>Unlimited bandwidth</li>
          <li>Instant Account Activation</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container payment_methods border_1_pink">
  <div class="row shadow-vega pb-5">
    <div class="col-md-8 offset-md-2 text-left">
      <%#= render partial: 'payment_methods_card_info', locals: {f: f} #%>
    </div>
  </div>
</div> -->

<!--
<div class="container-fluid bg2_contain">
  <div class="container min-vh-100">
  </div> 
</div>
-->