<div class="container">
  <h1>
    One price for all your devices
  </h1>
  <div class="row">
    <div class="col-xs-12">

      <%= link_to 'Start my free trial', '#', {class: 'btn btn-outline-primary'} %>
    </div>
  </div>
  <%= render partial: 'shared/reviews_section_tab' %>
</div>

<div class="container-fluid bg2">
  <div class="container">
  </div>
</div>