.alert-admin {
    position: absolute;
    top: pxtovw(50px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  
  .alert {
    border-radius: pxtovw($admin_border_radius_alert);
    font-size: $font18;
    line-height: $font24;
    z-index: 1000;
    @include fluidFontSize(14px, 41px, 320px, 4096px, 14px);
    @include fluidLineHeight(18px, 106px, 320px, 4096px, 18px);
  }

  .alert-inline {
    display: inline-block;
  }
  
  .alert-danger {
    background-color: $red;
    border-color: $red;
    color: $white;
  }
  
  .alert-success {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }
}

@include media-breakpoint-down(xs) {
  .alert-admin {
    top: 130px;
  }
}
@include media-breakpoint-up(xs) {
  .alert-admin {
    top: 70px;
  }
}

@include media-breakpoint-up(sm) {
  .alert-admin {
    top: 90px;
  }
}

@include media-breakpoint-up(md) {
  .alert-admin {
    top: 90px;
    left: 57.5%;
  }
}

@include media-breakpoint-up(xl) {
  .alert-admin {
    top: 50px;
    .alert {
      font-size: $font18;
      line-height: $font24;
      z-index: 1000;
      @include fluidFontSize(18px, 41px, 1400px, 4096px, 18px);
      @include fluidLineHeight(24px, 106px, 1400px, 4096px, 24px);
    }
  }
}

