
  .dashboard {
    $plans-padding: 5;

    @media (min-width: $lg-width) {
      max-width: pxtovw(1030,$scale_k);
      float: left;
    }

    .plans {
      margin-top: pxtovh(32, $scale_k); // break height of the plan items
      margin-left: pxtovw(-$plans-padding,$scale_k);
      .best-offer {
        background: $pink_gradient;
        border-radius: pxtovw(20,$scale_k);
      }
      .card {

        margin: 2px auto;
        border: 2px solid $pink2;
        border-radius: pxtovw(20,$scale_k);

        .card-body {
          span {
            font-size: 14px;
            line-height: 18px;
            @media (min-width: $bp-w1400) {
              @include fluidFontSize(14px, 41px, $bp-w1400, $bp-w4096, 14px);
              @include fluidLineHeight(18px, 106px, $bp-w1400, $bp-w4096, 18px);
            }
            font-weight: $font-bold;
          }
        }

        .card-footer {
          padding-top: 0;
          padding-bottom: 0;
        }

        &:hover {
          box-shadow: unset;
        }
        
        &.active {
          padding-top: pxtovh(18);
          padding-bottom: pxtovh(18);
          // square corners
          // border: 3px solid;
          // border-image: $pink_button_gradient;
          // border-image-slice: 60 30;
          // border-radius: pxtovw(20);

          background-image: $pink_button_gradient;
          border-radius: pxtovw(20,$scale_k);
          color: $white;
          .card-header {
            padding-top: pxtovh(18);
            // padding-top: pxtovh(36);
          }
          .card-footer {
            padding-right: 0;
            padding-left: 0;
            padding-top: pxtovh(18);
            // padding-top: pxtovh(36);
          }
        }
      }
      .card, .col-xs-12, .col-sm-6, .col-md-4, .col-lg-3, .mb-3 {
        padding-right: pxtovw($plans-padding,$scale_k);
        padding-left: pxtovw($plans-padding,$scale_k);
      }
      .card-deck {
        padding-right: pxtovw(-$plans-padding,$scale_k);
        padding-left: pxtovw(-$plans-padding,$scale_k);
      }
      .pricing-card-title {
        font-size: 56px; // 76px fullhd
        @media (min-width: $bp-w1400) {
          @include fluidFontSize(56px, 160px, $bp-w1400, $bp-w4096, 56px);
        }
        font-weight: $font-bold;
      }
      .plan {
        .plan__best-offer {
          font-size: 12px;
          line-height: 15px;
          @media (min-width: $bp-w1400) {
            @include fluidFontSize(12px, 35px, $bp-w1400, $bp-w4096, 12px);
            @include fluidLineHeight(15px, 50px, $bp-w1400, $bp-w4096, 15px);
          }
          
          position: absolute;
          right: 0;
          top: 0;

          min-width: pxtovw(100);
          min-height: pxtovh(38);
          background: $pink_button_gradient;
          color: $white;
          
          border-bottom-left-radius: pxtovw(20,$scale_k);
          border-top-right-radius: pxtovw(20,$scale_k);
        }
        .plan__best-offer-hidden {
        }
        .plan-free__features {
          margin-top: pxtovh(65,$scale_k);
          font-size: 12px;
          line-height: 15px;
          @media (min-width: $bp-w1400) {
            @include fluidFontSize(12px, 35px, $bp-w1400, $bp-w4096, 12px);
            @include fluidLineHeight(15px, 42px, $bp-w1400, $bp-w4096, 15px);
          }
        }
        .card-header {
          margin-top: pxtovh(49,$scale_k);
          margin-bottom: pxtovh(39);
        }
        .card-header, .card-footer {
          border: unset;
          background: unset;
        }
        .card-body {
          // padding-top: 0;
          // padding-bottom: 0;
        }
        .plan__btn-save {
          padding: pxtovh(6,$scale_k) pxtovw(15,$scale_k);
          min-height: pxtovh(29,$scale_k);
          font-size: 12px;
          line-height: 15px;
          @media (min-width: $bp-w1400) {
            @include fluidFontSize(12px, 41px, $bp-w1400, $bp-w4096, 12px);
            @include fluidLineHeight(15px, 50px, $bp-w1400, $bp-w4096, 15px);
          }
          color: $white;
          margin-top: pxtovh(6,$scale_k);
          margin-bottom: pxtovh(20,$scale_k);
          background-color: #3F0E4D;
        }
        .plan__price-duration {
          font-size: 14px;
          @media (min-width: $bp-w1400) {
            @include fluidFontSize(14px, 41px, $bp-w1400, $bp-w4096, 14px);
          }
          margin-bottom: pxtovh(1px);
        }
        .plan__price-comment {
          // font-size: 14px;
          // @media (min-width: $bp-w1400) {
          //   @include fluidFontSize(14px, 41px, $bp-w1400, $bp-w4096, 14px);
          // }
        }
        .plan__my-plan {
          margin-left: pxtovw(-5,$scale_k);
          margin-right: pxtovw(-5,$scale_k);
        }
        .plan__btn-my-plan {
          background: $white;
          color: #3F0E4D;
          margin-bottom: pxtovh(53,$scale_k);
          border-radius: 0;
        }
        .plan__features {
          margin-top: pxtovh(13,$scale_k);
          margin-bottom: pxtovh(29,$scale_k);
          font-size: 12px;
          line-height: 15px;
          @media (min-width: $bp-w1400) {
            @include fluidFontSize(12px, 35px, $bp-w1400, $bp-w4096, 12px);
            @include fluidLineHeight(15px, 42px, $bp-w1400, $bp-w4096, 15px);
          }
        }
        .plan__btn-change {
          margin-bottom: pxtovh(40,$scale_k);
          min-height: pxtovh(50,$scale_k);
          // width: pxtovw(177,$scale_k);
          border-radius: pxtovw(20,$scale_k);
        }
      }
    }
    .subscriptions {
      margin-top: pxtovh(64,$scale_k); //4em;
      h1 {
        margin-bottom: pxtovh(23,$scale_k);
      }
    }
  }