@media #{$mq-w1400} {
// @media (min-width:1401px) {
@include fluidFontSize(14px, 41px, 1400px, 4096px, 14px);
@include fluidLineHeight(18px, 106px, 1400px, 4096px, 18px);

$multiplier: 1;

h1 {
  // font-size: calcFluidFontSize(24, 68, 1400, 4096, px); // for h1 tag for screens > 1400px
  @include fluidFontSize(24px, 68px, 1400px, 4096px, 24px);
  @include fluidLineHeight(34px, 140px, 1400px, 4096, 34px);
  // font-weight: 500;
}
h2 {
  @include fluidLineHeight(22px, 24px, 1400px, 4096, 22px);
}
h3 {
  @include fluidFontSize(20px, 20px, 1400px, 4096, 20px);
}
h4 {
  @include fluidFontSize(18px, 53px, 1400px, 4096px, 18px);
  @include fluidLineHeight(22px, 22px, 1400px, 4096px, 22px);
}
h5 {
  @include fluidFontSize(16px, 16px, 1400px, 4096, 16px);
}
h6 {
  @include fluidFontSize(14px, 14px, 1400px, 4096, 14px);
}
small {
  font-size: $font-small*$multiplier;
  line-height: $line-height-small*$multiplier;
}
.form-control {
  font-size: pxtovh(14px);
  line-height: pxtovh(24px);
}
.alert {
  font-size: pxtovh(18px);
  line-height: pxtovh(24px);
  z-index: 1000;
}
.btn {
  font-weight: $font-bold*$multiplier;
  font-size: pxtovh(14px);
  line-height: pxtovh(18px);
}
.header {
  // margin: pxtovh(26px) 0 pxtovh(20px) 0;
  padding-top: pxtovh(16px);
  padding-bottom: pxtovh(20px);
  // height: pxtovh(80px);

  .nav {
    height: 100%;
  }

  .nav-item {
    padding-left: pxtovw(8px);
  }

  .nav-link {
    font-size: pxtovh(14px);
    line-height: pxtovh(18px);
    &.btn {
      padding: pxtovh(10px) pxtovw(15px);
      // margin-left: pxtovw(8px);
    }
  }

  img {
    height: 4.11vh;
    // 22
    // 18
    // margin-top: 1.3rem*$multiplier4k;
    // margin-bottom: 0.5rem*$multiplier4k;
  }
  // .img-fluid {
  //   height: 4.11vh;
  // }
}

.navbar-brand {
  padding: 0;
  img {
    // height: 2.4vh;
    // width: (79/1400)*100+0vw;
    width: pxtovw(95);
    max-height: unset;
    margin-top: pxtovh(28px);
    margin-bottom: pxtovh(16px);
  }
}

aside {
  max-width: pxtovw(207); //217
  padding-right: pxtovw(30);
  padding-left: pxtovw(30);
}

section {
  padding-left: pxtovw(21px);
  padding-right: pxtovw(30px);
}

.btn {
  padding: pxtovh(10px) pxtovw(25px);
}

.pagination {
  margin-top: pxtovh(20px);
}

.tickets {
  .btn {
    padding: pxtovh(10) pxtovw(150);
  }
}

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: pxtovh(40);
  padding-left: pxtovw(15);
  // padding-top: pxtovh(7);
}
/*
@media #{$mq-w1920} {
  section {
    padding-right: pxtovw(15px);
    padding-left: pxtovw(15px);
  }
  aside {
    // max-width: pxtovw(217); //217
  }
}


@media (min-width: 1921px) {
  section {
    padding-right: pxtovw(30px);
    padding-left: pxtovw(15px); //60px
  }
  aside {
    max-width: pxtovw(217); //217
    padding-right: pxtovw(30);
    padding-left: pxtovw(30);
  }
}
*/

}