@include media-breakpoint-up(md) {
  .modal-lg, modal-xl {
    // margin-top: pxtovh(175);
    // margin-bottom: pxtovh(247);
    max-width: 754px;
    max-width: pxtovw(754);
  }
}

.modal-content {
  padding: 15px 5px;
  padding: pxtovh(20px) pxtovw(20px);
  border-radius: pxtovw(10px);

  background: $white;
  color: $black;
  font-weight: normal;
  
  h1 {
    // font-size: $font24;
    // line-height: $font34;
  }
  .form-control {
    font-size: $font14;
    line-height: $font24;
  }
  .col-form-label {
    font-weight: bold;
  }
  input, textarea {
    background-color: $bgInputColor;
    border: unset;
  }

  textarea {
    min-height: 10rem;
  }

  p {
    margin: 2rem 0;
    // padding: 1rem 0rem;
  }

  .modal-dialog {
    word-break: break-all;
  }

  .modal-body {}

  .modal-footer {
    padding-bottom: pxtovh(31); 
    border: unset;
    padding-top: 0;
  }

  .modal-header {
    border: unset;
    .close {
      color: $black;
      &:hover {
        color: $pink3;
      }
      img {
        min-height: pxtovw(24);
      }
    }
  }
}
