@include media-breakpoint-up(md) {
  .modal-lg, modal-xl {
    // margin-top: pxtovh(175);
    // margin-bottom: pxtovh(247);
    max-width: 754px;
    max-width: pxtovw(754);
  }
}
.preview-container {
  // display: inline;
  // position: relative;
}
.preview-delete {
  position: absolute;
  right: 0;
  top: 0;
  height: 33px;
  width: 33px;
  background-color: white;
  opacity: 0.7;
  // margin: 1px;
  &:hover {
    opacity: 1;
  }
}

.modal-content {
  padding: 15px 5px;
  padding: pxtovh(20px) pxtovw(20px);
  border-radius: pxtovw(10px);

  background: $white;
  color: $black;
  font-weight: normal;
  
  h1 {
    // font-size: $font24;
    // line-height: $font34;
  }
  .form-control {
    font-size: $font14;
    line-height: $font24;
  }
  .col-form-label {
    font-weight: bold;
  }
  input, textarea {
    background-color: $bgInputColor;
    border: unset;
  }

  textarea {
    min-height: 10rem;
  }

  p {
    margin: 2rem 0;
    // padding: 1rem 0rem;
  }

  .modal-dialog {
    word-break: break-all;
  }

  .modal-title {
    margin-bottom: 0;
    word-break: break-all;
  }

  .modal-footer {
    border: unset;
    padding: pxtovh(10px) pxtovw(5px);
    .btn-next-only {
      width: 100%;
    }
  }

  .modal-header {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;

    border: unset;
    .close {
      color: $black;
      &:hover {
        color: $pink3;
      }
      img {
        min-height: pxtovw(24);
      }
    }
  }

  .modal-body {
    padding: 0;
  }

  @include media-breakpoint-up(sm) {
    .btn-next-only {
      max-width: pxtovw(155);
    }
  }
}
