
  .notifications {
    position: absolute;
    // will-change: transform;
    top: pxtovh(64);
    right: pxtovw(10);
    // transform: translate3d(543px, 2139px, 0px);
    background-color: $black;
    color: $white;
    padding: 1rem;
    max-width: pxtovw(430);
    z-index: 1060;
    display: block;
    
    &-header {
      margin-top: pxtovh(30);
    }

    &-body {
      background-color: $white;
      color: $black;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    &-arrow {
      right: pxtovw(120);
      position: absolute;
      display: block;
      width: 1rem;
      height: .5rem;
      margin: 0 .3rem;
      top: calc((.5rem + 1px) * -1);
  
      border-left: 2rem solid transparent;
      border-right: 2rem solid transparent;
      border-bottom: 1rem solid $black;
    }
    &-close {
      // font-style: normal;
      // font-weight: bold;
      // font-size: 14px;
      // line-height: 18px;
      cursor: pointer;
    }
    &-item-date {
      color: #949599;
    }
  }