
.notifications-wrapper {
  position: relative;
}
.notifications {
  cursor: unset;
  position: absolute;
  right: pxtovw(-10);
  background-color: $black;
  color: $white;
  padding: pxtovw(10);
  z-index: 1060;
  display: block;
  border-radius: pxtovw($border_radius_admin);

  &-header {
    padding: pxtovh(12px) pxtovw(10px) pxtovh(3px) pxtovw(10px);
  }

  &-body {
    background-color: $white;
    color: $black;
    font-weight: normal;
    padding: pxtovw(10);
    margin-bottom: pxtovh(10);
    border-radius: pxtovw($border_radius_admin);
  }

  &-arrow {
    position: absolute;
    display: block;
    width: pxtovw(40);
    height: pxtovh(10);
    border-left: pxtovw(20) solid transparent;
    border-right: pxtovw(20) solid transparent;
    border-bottom: pxtovw(8) solid $black;
  }
  &-close {
    cursor: pointer;
  }
  &-item-date {
    color: #949599;
  }
}