.table-actions {
  a img {
    min-width: pxtovw(24);
  }
}

#addPaymentMethod {
  .form-control {
    background-color: $bgGray;
  }
}

.payments {
  margin-top: pxtovh(20);
}

.invoices {
  margin-top: pxtovh(60);
}