  
@import 'admin/modal';

h1 {
  @include fluidFontSize(16px, 24px, 320px, $bp-w1400, 1rem);
  @include fluidLineHeight(16px, 85px, 320px, $bp-w1400, 1.25rem);
}

.border-gray {
  border-color: $borderColor2;
}

.border-radius {
  border-radius: $admin_border_radius;
}

textarea {
  min-height: 10rem;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout {
  background-color: $bgInputColor;
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid $admin_pink;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.border-left-pink {
  @extend .bd-callout;
  border-right: unset;
  border-top: unset;
  border-bottom: unset;
}

// test
.bd-highlight {
  background-color: lightblue;
  border: 1px solid $blue;
  color: black;
}

.w-15 {
  width: 15% !important;
}
// end test