
// colors
$admin_pink: #6E2251;
$white: white;
$black: #0F0216;
$borderColor: #E1E0E1;
$borderColor2: #EDEEEF;
$bgInputColor: #EDEEEF;
$bgGray: #EDEEEF;
$ticketsTableItemOnHoverColor: #EDEEEF;

$red: #9A2121;
$blue: #2CB0B5;
$pink: #7D2864;
$pink2: #3F0E4D;

$telegram: #0084FF;
$facebook: #3B5998;
$twitter: #00ACEE;

$color-ticket__message_datetime: #3D194F;

//
$admin-navbar-height: 50px;

// paddings
$padding: 15; // 15px
$font-normal: 600; //500 in orig;
$font-bold: 700; //600 in orig;
$admin_layout_max_width: 1400px;
$border_radius_admin: 5px;
$border_radius_admin_alert: 10px;

// font sizes
$font-size-base: 1rem; // bootstrap variable - 16px in most browsers by default
$font-size-base-admin: $font-size-base * 0.875;   // 14px;
$base-line-height-admin: $font-size-base * 1.125; // 18px;
$font14: $font-size-base * 0.875; // 14px;
$font18: $font-size-base * 1.125; // 18px;
$font20: $font-size-base * 1.25;  // 20px;
$font22: $font-size-base * 1.375; // 22px;
$font24: $font-size-base * 1.5;   // 24px;
$font34: $font-size-base * 2.125; // 34px;
$font-small: (9px/$font-size-base) * $font-size-base; // 9px;
$line-height-small: (15px/$font-size-base) * $font-size-base; // 15px;

// breakpoints
$bp-small: 48em;      // 768px
$bp-medium: 64em;     // 1024px
$bp-large: 85.375em;  // 1366px
$bp-xlarge: 120em;    // 1920px
$bp-xxlarge: 160em;   // 2560px
// admin panel's breakpoints 
$bp-w1400em: 87.5em;    // 1400px;
$bp-w1920em: 120em;     // 1920px;
$bp-w4096em: 256em;     // 4096px;

$bp-w1400: 1400px;
$bp-w1920: 1920px;
$bp-w4096: 4096px;

// media queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
// admin panel's media quieries
$mq-w1400: "(min-width: #{$bp-w1400em})"; // for admin panel by original design
$mq-w1920: "(min-width: #{$bp-w1920em})";
$mq-w4096: "(min-width: #{$bp-w4096em})";

$width-of-admin-ui-design: 1400;
$height-of-admin-ui-design: 972;

@import "./helpers";
@import "./modal";
@import "./public";
@import "./base";
@import "./alert";
@import "./checkbox_as_switcher";
@import "./checkbox_rounded";
