$multiplier: 4;
body {
  font-size: 1vw;
  line-height: 1vw;
}
h1 {
  font-size: $font24*$multiplier;
  line-height: $font34*$multiplier;
  // font-weight: normal;
}
h2 {
  line-height: $font22*$multiplier;
}
h3 {
  font-size: $font20*$multiplier;
}
h4 {
  font-size: $font18*$multiplier;
  line-height: $font22*$multiplier;
}
h5 {
  font-size: $font-size-base*$multiplier;
}
h6 {
  font-size: $font14*$multiplier;
}
small {
  font-size: $font-small*$multiplier;
  line-height: $line-height-small*$multiplier;
}

.form-control {
  font-size: $font14*$multiplier;
  line-height: $font24*$multiplier;
}