@media #{$mq-w4096} {
// @media (min-width: $k4-width) {
  $multiplier4k: 3.5;
  font-size: $font14*$multiplier4k;   // 1vw;
  line-height: $font18*$multiplier4k; //1vw;

h1 {
  font-size: $font24*$multiplier4k;
  line-height: $font34*$multiplier4k;
  // font-weight: normal;
}
h2 {
  line-height: $font22*$multiplier4k;
}
h3 {
  font-size: $font20*$multiplier4k;
}
h4 {
  font-size: $font18*$multiplier4k;
  line-height: $font22*$multiplier4k;
}
h5 {
  font-size: $font-size-base*$multiplier4k;
}
h6 {
  font-size: $font14*$multiplier4k;
}
small {
  font-size: $font-small*$multiplier4k;
  line-height: $line-height-small*$multiplier4k;
}

.form-control {
  font-size: $font14*$multiplier4k;
  line-height: $font24*$multiplier4k;
}
.alert {
  font-size: $font18*$multiplier4k;
  line-height: $font24*$multiplier4k;
  z-index: 1000;
}
.btn {
  font-weight: $font-bold;
  font-size: $font14*$multiplier4k;
  line-height: $font18*$multiplier4k;
}

.header .nav-link {
  font-size: $font14*$multiplier4k;
  line-height: $font18*$multiplier4k;
}

.header {
    img {
      height: 4.11vh;
      // 22
      // 18
      // margin-top: 1.3rem*$multiplier4k;
      // margin-bottom: 0.5rem*$multiplier4k;
    }
    // .img-fluid {
    //   height: 4.11vh;
    // }
 }

 .navbar-brand img {
  //  height: 2.4vh;
    width: (79/1400)*100+0vw;
   max-height: unset;
 }
}