<div class="status_page container featurette text-center">
  <div class="row">
    <div class="col-md-5">
      <%= image_tag 'astronaut.png', { class:'img-fluid', alt: '' } %>
    </div>
    <div class="col-md-4">
      <h1 class="featurette-heading">
        404
      </h1>
      <h2 class="featurette-heading">
        Oh no!!!
      </h2>
      <p class="lead">You’re either misspelling the URL or requesting a page that’s no longer here.</p>
      <a href="#" class="btn btn-outline-primary ">
        <span class="glyphicon glyphicon-circle-arrow-right"></span>Back to previous page</a>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-12">
      <%= image_tag 'bg2_with_mars.png', {class:'img-fluid'} %>
    </div>
  </div>
  <%#= image_tag 'compare/header_with_first_section.png', {class:'img-fluid'} #%>
</div>