.border-gray {
  border-color: $borderColor2;
}

.border-radius {
  border-radius: $admin_border_radius;
}

textarea {
  min-height: 10rem;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout {
  background-color: $bgInputColor;
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid $admin_pink;
  border-left-width: .3rem;
  // border-radius: .25rem;
}

.border-left-pink {
  @extend .bd-callout;
  border-right: unset;
  border-top: unset;
  border-bottom: unset;
  // padding-top: 2rem;
  // padding-bottom: 2rem;
  // padding: pxtovw(15) pxtovw(30);
  padding: 1rem 2rem;
}

// test
.bd-highlight {
  background-color: lightblue;
  border: 1px solid $blue;
  color: black;
}

.w-45 {
  width: 45%;
}

.w-15 {
  width: 15% !important;
}
// end test