// colors
$admin_pink: #6E2251;
$white: white;
$black: #0F0216;
$borderColor: #E1E0E1;
$borderColor2: #EDEEEF;
$bgInputColor: #EDEEEF;
$red: #9A2121;
$blue: #2CB0B5;
$pink: #7D2864;
$color-ticket__message_datetime: #3D194F;

// paddings
$padding: 15; // 15px
$font-weight: 500;
$font-bold: 600;
$admin_layout_max_width: 1400px;
$admin_border_radius: 5px;

// font sizes
$font-size-base: 1rem; // bootstrap variable - 16px in most browsers by default
$font-size-base-admin: $font-size-base * 0.875;   // 14px;
$base-line-height-admin: $font-size-base * 1.125; // 18px;
$font14: $font-size-base * 0.875; // 14px;
$font18: $font-size-base * 1.125; // 18px;
$font20: $font-size-base * 1.25;  // 20px;
$font22: $font-size-base * 1.375; // 22px;
$font24: $font-size-base * 1.5;   // 24px;
$font34: $font-size-base * 2.125; // 34px;
$font-small: (9px/$font-size-base) * $font-size-base; // 9px;
$line-height-small: (15px/$font-size-base) * $font-size-base; // 15px;

// breakpoints
$bp-small: 48em;      // 768px
$bp-medium: 64em;     // 1024px
$bp-large: 85.375em;  // 1366px
$bp-xlarge: 120em;    // 1920px
$bp-xxlarge: 160em;   // 2560px
// admin panel's breakpoints 
$bp-w1400: 87.5em;    // 1400px;
$bp-w1920: 120em;     // 1920px;
$bp-w4096: 256em;     // 4096px;

// media queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
// admin panel's media quieries
$mq-w1400: "(min-width: #{$bp-w1400})"; // for admin panel by original design
$mq-w1920: "(min-width: #{$bp-w1920})";
$mq-w4096: "(min-width: #{$bp-w4096})";

$width-of-admin-ui-design: 1400;
$height-of-admin-ui-design: 972;

@function pxtovw($value) {
  $value: strip-unit($value);
  $width-of-admin-ui-design: strip-unit($width-of-admin-ui-design);
  $proportion: ($value / $width-of-admin-ui-design)*100;
  $proportion: $proportion + vw;
  // $proportion: ($value/$width-of-admin-ui-design)*100+0vw;
  @return $proportion;
}

@function pxtovh($value) {
  $value: strip-unit($value);
  $height-of-admin-ui-design: strip-unit($height-of-admin-ui-design);
  $proportion: ($value/$height-of-admin-ui-design)*100;
  $proportion: $proportion + vh;
  @return $proportion;
}

/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
  $f-min: strip-unit($f-min);
  $f-max: strip-unit($f-max);
  $w-min: strip-unit($w-min);
  $w-max: strip-unit($w-max);

  $k: ($f-max - $f-min)/($w-max - $w-min);
  $b: $f-min - $k * $w-min;

  $b: $b + $units;

  @return calc( #{$k} * 100vw + #{$b} );
}

.fluid-font-size-if-vw-supported {
  // font-size: calcFluidFontSize(1, 3, 20, 256, rem);
  // font-size: calcFluidFontSize(24, 68, 1400, 4096, px); // for h1 tag for screens > 1400px
  // font-size: calcFluidFontSize(16, 68, 320, 4096, px); // for h1 tag for screens > 320px
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {
  @if ($fallback) {
    font-size: $fallback; // for old browsers wich are not support vw)
  }
  font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
}

@mixin fluidLineHeight($f-min, $f-max, $w-min, $w-max, $fallback: false) {
  @if ($fallback) {
    line-height: $fallback; // for old browsers wich are not support vw)
  }
  line-height: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
}

.fluid-font-size {
  // @include fluidFontSize($font-min, $font-max, $width-min, $width-max, $font-avg);
}

@import "admin/public";
#admin_layout {
  // font-size: $font-size-base-admin;
  // line-height: $base-line-height-admin;
  @include fluidFontSize(14px, 41px, 320px, 4096px, 14px);
  @include fluidLineHeight(18px, 106px, 320px, 4096px, 18px);

  h1, h2, h3, h4, h5 {
    font-weight: $font-bold;
  }
  
  .modal-lg {
    max-width: 53.8vw; // 754px;
  }

  .btn-outline-danger {
    color: $red;
    border-color: $red;
    &:hover, &:active {
      color: $white;
      background-color: $red;
    }
  }

  .col-form-label {
    font-weight: bold;
  }

  .form-control {
    font-size: $font14;
    line-height: $font24;
  }

  .navbar-brand {
    margin-right: 0;

    @include media-breakpoint-up(md) {
      img {
        max-height: 2rem;
        margin-top: 1.3rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  .header__alert {
    margin: -2rem auto;
  }

  .header .nav-link {
    font-weight: $font-bold;
  }

  .alert {
    font-size: $font18;
    line-height: $font24;
    z-index: 1000;
  }
  .alert-inline {
    display: inline-block;
  }
  .alert-danger {
    background-color: $red;
    border-color: $red;
    color: $white;
  }
  .alert-success {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }

  .accordion { 
    .card-title {
      width: 100%;
    }

    .card-header {
      font-weight: $font-bold;
    }
  
   .card-header .card-title:after {
      font-family: 'FontAwesome';
      content: "\f107";
      float: right;
    }
    
    .card-header .card-title.collapsed:after {
      /* symbol for "collapsed" panels */
      font-family: 'FontAwesome';
      content: "\f105";
    }
  }

  #adminNavbar {

  }

  aside {
    @media (min-width: $lg-width) {
    // @include media-breakpoint-between(sm, xl) {
      // max-width: 15.5vw;
      // width: 12rem;
      max-width: 13.5rem;
    }
    @media (min-width: $bp-xxlarge) {
      max-width: 15.5vw;
    }
  }

  section {
    min-height: 100vh;
    // padding: 0 $padding*2+0px;
    @media (min-width: $md-width) {
      padding: 0 2.14vw 5.17vh 1.5vw;
    }
  }

  .header {
    // min-height: 5rem;
    // margin: 1rem 0 0.65rem 0;
  }

  .main-content {
    border-radius: pxtovw($admin_border_radius);
    // padding: $padding+0px;
    height: 85.5vh;
    max-height: 85.5vh;
    overflow-y: scroll;
    // padding-top: 2.25vh;
    // @include media-breakpoint-up(md) {
      // padding: 2.5vh 2vw;
      padding-top: 2.5vh;
    // }
    padding: pxtovw(20px) pxtovh(20px);
  }
    
  article {
    // margin: 0 4%;
 
    // @media #{$mq-medium} {
    //   margin: 0 8%;
    // }
  
    // @media #{$mq-large} {
    //   margin: 0 12%;
    // }
  
    // @media #{$mq-xlarge} {
    //   margin: 0 18%;
    // }

    // max-width: 55vw;
    // max-width: 1130px;//1400px;
    // margin: 0 auto;
  }

  nav {
    // padding: $padding+0px 0;
    .nav-link {
      font-weight: $font-bold;
    }
  }

  footer {
    opacity: $opacity05;
  }

  .accordion_menu {
    .accordion_menu-title {
      font-weight: $font-bold;
      // padding: 6px 12px 5px 14px;
    }
    .accordion_menu-title:after {
      font-size: $font22;
      font-weight: 100;
      font-family: 'FontAwesome';
      content: "\f107";
      float: right;
    }
    .collapsed .accordion_menu-title:after {
      font-family: 'FontAwesome';
      content: "\f105";
    }
  }

  .sidebar {
    
    ul.submenu {
      padding: 0 2rem;
      list-style: none !important;
    }
    // a li.list-group-item {
    //   opacity: $opacity05;
    // }
    // a.active li.list-group-item {
    //   opacity: 1;
    // }

    li {
      cursor: pointer;
      background: unset !important;
      &.list-group-item {
        opacity: $opacity05;
      }
      &.list-group-item.active {
        border: unset;
        opacity: 1;
      }
    }
  
    a {
      color: $white;
      opacity: $opacity05;
      &:hover {
        opacity: 1;//$opacity08;
      }
      &.active {
        text-decoration: none;
        opacity: 1;
        // &:hover {}
      }
    }
  }

  .btn {
    font-weight: $font-bold;
    // font-size: $font14;
    // line-height: $font18;
  }

  .btn-black {
    @extend .btn-pink-dark;
    background-color: $black !important;
  }
  // max-width: $admin_layout_max_width;
  .text-black {
    color: $black;
  }
  .text-red {
    color: $red;
  }
  .text-blue {
    color: $blue;
  }
  .text-pink {
    color: $pink;
  }
  .background-pink {
    background-color: $admin_pink;
  }
  .background-white {
    background-color: $white;
    color: $black;
  }
  .background-black {
    background-color: $black;
  }
  
  .form-control {
    border: 1px solid $borderColor2;
  }

  textarea.form-control, input.form-control {
    background-color: $bgInputColor;
  }

  .tickets {
    .btn {
      // padding: 14px 27px;
      // min-width: 170px;
      padding: 0.65rem 1.65rem;
      min-width: 10.5rem;
    }
  }

  .ticket_statuses a.nav-link {
    cursor: pointer;
    text-decoration: underline dashed;
    &:hover, &.active {
      text-decoration: none;
      font-weight: bolder;
    }
  }

  .ticket__message {
    @extend .border-gray;
    @extend .border-radius;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    &_datetime {
      color: $color-ticket__message_datetime;
    }
  }

  .card {
    background: $white;
    color: $black;
    .card-title {
      border: unset;
      background-color: unset;
    }
    .card-body {
      border: $borderColor2;
    }
    margin-bottom: 1rem;
  }

  // pagination
  ul.pagination {
    li.page-item {
      
      span.page-link {
        color: $white !important;
      }
      
      .page-link {
        border-color: $borderColor !important;
        color: $black !important;
        cursor: pointer;
        // padding-bottom: 0.75rem;
        // padding-top: 0.75rem;
        padding: pxtovh(12px) pxtovw(12.3px);
      }

      &:hover, &.active {
        background: $pink_gradient;
        color: $white !important;
        &:hover {
          color: $white !important;
        }
      }

      &.disabled {
        opacity: $opacity;
      }
    }
  }

  @import "admin/desktop";
  
  /*
  // media queries
  @media #{$mq-w1400} {
    font-size: $font-size-base-admin;
    line-height: $base-line-height-admin;

    @import "admin/w1400";
  }

  @media #{$mq-w1920} {
    font-size: $font-size-base-admin*1.5;
    line-height: $base-line-height-admin*1.5;
    @import "admin/w1920";
  }

  @import "admin/w4096";
  */

}

@import "checkbox_as_switcher";
