$admin_layout_max_width: 1400px;
$admin_border_radius: 5px;
$admin_pink: #6E2251;
$white: white;
$black: #0F0216;
$borderColor: #E1E0E1;
$red: #9A2121;
$blue: #2CB0B5;
$pink: #7D2864;
$padding: 15;
$font-weight: 500;
$font-bold: 600;
$font14: 14px;
$font18: 18px;
$font24: 24px;
$font34: 34px;

.bd-highlight {
  background-color: lightblue;
  border: 1px solid $blue;
  color: black;
}

.w-15 {
  width: 15% !important;
}

.opacity-05 {
  opacity: $opacity05;
}
  
.border-gray {
  border-color: #EDEEEF;
}

.border-radius {
  border-radius: $admin_border_radius;
}

#admin_layout {
  font-size: $font14;
  line-height: $font18;
  
  h1, h2, h3, h4, h5 {
    font-weight: $font-bold;
  }
  h1 {
    font-size: $font24;
    line-height: $font34;
    // font-weight: normal;
  }
  h2 {
    line-height: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
    line-height: 22px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  small {
    font-size: 9px;
    line-height: 15px;
  }
  .col-form-label {
    font-weight: bold;
  }

  .btn-outline-danger {
    color: $red;
    border-color: $red;
    &:hover, &:active {
      color: $white;
      background-color: $red;
    }
  }

  .form-control {
    font-size: $font14;
    line-height: $font24;
  }

  .navbar-brand {
    margin-right: 0;

    @include media-breakpoint-up(md) {
      img {
      max-height: 2rem;
      margin-top: 1.3rem;
      margin-bottom: 0.5rem;
      }
    }
  }

  .header__alert {
    margin: -2rem auto;
  }
  .alert {
    font-size: $font18;
    line-height: 24px;
    z-index: 1000;
  }
  .alert-inline {
    display: inline-block;
  }
  .alert-danger {
    background-color: $red;
    border-color: $red;
    color: $white;
  }
  .alert-success {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }

  .accordion { 
    .card-title {
      width: 100%;
    }

    .card-header {
      font-weight: $font-bold;
    }
  
   .card-header .card-title:after {
      font-family: 'FontAwesome';
      content: "\f107";
      float: right;
    }
    
    .card-header .card-title.collapsed:after {
      /* symbol for "collapsed" panels */
      font-family: 'FontAwesome';
      content: "\f105";
    }
  }

  #adminNavbar {

  }

  aside {
    @media (min-width: $lg-width) {
    // @include media-breakpoint-between(sm, xl) {
      // max-width: 15.5vw;
      // width: 12rem;
      max-width: 13.5rem;
    }
  }

  section {
    min-height: 100vh;
    // padding: 0 $padding*2+0px;
    padding: 0 2.14vw 6.17vh 1.5vw;
  }

  .header {
    // min-height: 5rem;
    margin: .75rem 0;
  }

  .main-content {
    border-radius: $admin_border_radius;
    // padding: $padding+0px;
    height: 85.5vh;
    max-height: 85.5vh;
    overflow-y: scroll;
    // padding-top: 2.25vh;
    padding: 2.5vh 2vw;
  }
    
  article {
    // max-width: 55vw;
    max-width: 1130px;//1400px;
    margin-left: auto;
    margin-right: auto;
    // padding: 2.5vh 2vw;
  }

  nav {
    // padding: $padding+0px 0;
    .nav-link {
      font-weight: $font-weight;
    }
  }

  footer {
    opacity: $opacity05;
  }

  .accordion_menu {
    .accordion_menu-title {
      font-weight: $font-bold;
      // padding: 6px 12px 5px 14px;
    }
    .accordion_menu-title:after {
      font-size: 22px;
      font-weight: 100;
      font-family: 'FontAwesome';
      content: "\f107";
      float: right;
    }
    .collapsed .accordion_menu-title:after {
      font-family: 'FontAwesome';
      content: "\f105";
    }
  }

  .sidebar {
    
    ul.submenu {
      padding: 0 2rem;
      list-style: none !important;
    }
    a li.list-group-item {
      opacity: $opacity05;
    }
    a.active li.list-group-item {
      opacity: 1;
    }

    li {
      cursor: pointer;
      background: unset !important;
      &.list-group-item {
        opacity: $opacity05;
      }
      &.list-group-item.active {
        border: unset;
        opacity: 1;
      }
    }
  
    a {
      color: $white;
      opacity: $opacity05;
      &:hover, &.active {
        text-decoration: none;
        opacity: 1;
      }
      &.active:hover {
        opacity: $opacity;
      }
    }
  }

  .btn {
    font-weight: $font-bold;
    font-size: $font14;
    line-height: $font18;
  }

  .btn-black {
    @extend .btn-pink-dark;
    background-color: $black !important;
  }
  // max-width: $admin_layout_max_width;
  .text-black {
    color: $black;
  }
  .text-red {
    color: $red;
  }
  .text-blue {
    color: $blue;
  }
  .text-pink {
    color: $pink;
  }
  .background-pink {
    background-color: $admin_pink;
  }
  .background-white {
    background-color: $white;
    color: $black;
  }
  .background-black {
    background-color: $black;
  }
  
  .form-control {
    border: 1px solid #EDEEEF;
  }

  textarea.form-control, input.form-control {
    background-color: #EDEEEF;
  }

  .tickets {
    .btn {
      // padding: 14px 27px;
      // min-width: 170px;
      padding: 0.65rem 1.65rem;
      min-width: 10.5rem;
    }
  }

  .ticket_statuses a.nav-link {
    cursor: pointer;
    text-decoration: underline dashed;
    &:hover, &.active {
      text-decoration: none;
      font-weight: bolder;
    }
  }

  .ticket__message {
    @extend .border-gray;
    @extend .border-radius;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
  }

  .card {
    background: $white;
    color: $black;
    .card-title {
      border: unset;
      background-color: unset;
    }
    .card-body {
      border: #EDEEEF;
    }
    margin-bottom: 1rem;
  }

  // pagination
  ul.pagination {
    li.page-item {
      
      span.page-link {
        color: $white !important;
      }
      
      .page-link {
        border-color: $borderColor !important;
        color: $black !important;
        cursor: pointer;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
      }

      &:hover, &.active {
        background: $pink_gradient;
        color: $white !important;
        &:hover {
          color: $white !important;
        }
      }

      &.disabled {
        opacity: $opacity;
      }
      
    }
  }

}