
$admin_border_radius: 15px;
$admin_pink: #6E2251;
$white: white;
$black: #0F0216;
$borderColor: #E1E0E1;
$red: #9A2121;
$blue: #2CB0B5;
$pink: #7D2864;

#admin_layout {
  .text-black {
    color: $black;
  }
  .text-red {
    color: $red;
  }
  .text-blue {
    color: $blue;
  }
  .text-pink {
    color: $pink;
  }
  .background-pink {
    background-color: $admin_pink;
  }
  .background-white {
    background-color: $white;
  }
  .background-black {
    background-color: $black;
  }
  
  .form-control {
    background-color: #EDEEEF;
  }
  
  textarea.form-control, input.form-control {
    border: 0px solid #ced4da;
  }

  .bg-lite {
    color: $black;
    background: $white;
    border-radius: $admin_border_radius;
    // .ticket_statuses {
    a.nav-link {
      cursor: pointer;
      text-decoration: underline dashed;
      &:hover, &.active {
        text-decoration: none;
        font-weight: bolder;
      }
    // }
  }

    // pagination
    ul.pagination {
      li.page-item {
        
        span.page-link {
          color: $white !important; 
        }
        
        .page-link {
          border-color: $borderColor !important;
          color: $black !important;
          cursor: pointer;
        }

        &:hover, &.active {
          background: $pink_gradient;
          color: $white !important;
          &:hover {
            color: $white !important;
          }
        }

        &.disabled {
          opacity: $opacity;
        }
        
      }
    }
    
  }
}