$bg-color: #0F0216;
$pink: #8C5362;
$pink2: #713980;
//TODO: make mixin like thid: gradient-linear: rgba(#8C5362 0%, #713980 100%);

// @mixin linear-gradient($direction, $fromColor, $toColor)
//   background-color: $toColor
//   background-image: -webkit-gradient(linear, $direction, from($fromColor), to($toColor)) /* Saf4+, Chrome */
//   background-image: -webkit-linear-gradient($direction, $fromColor, $toColor) /* Chrome 10+, Saf5.1+, iOS 5+ */
//   background-image:    -moz-linear-gradient($direction, $fromColor, $toColor) /* FF3.6 */
//   background-image:     -ms-linear-gradient($direction, $fromColor, $toColor) /* IE10 */
//   background-image:      -o-linear-gradient($direction, $fromColor, $toColor) /* Opera 11.10+ */
//   background-image:         linear-gradient($direction, $fromColor, $toColor)
//   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');

// $body-bg: #0F0216;
// $body-color: rgba(255,255,255, 0.7);

// $danger: rgba(255, 0, 0, 0.7);
// $white: rgba(255,255,255, 0.8);

// $theme-colors: (
//   "danger": $danger,
//   "white": $white,
// );
