// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bg-color: #0F0216;
$white: #ffffff;
.nav {
  border: unset !important;
}
.product_with_btn_pricing {
  border: unset !important;
  h1 {
    font-size: 3.1rem;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  p {
    padding-bottom: 20px;
  }
}
.btn.btn-outline-light {
  border: unset;
  &:hover {
    background: linear-gradient(90deg, #8C5362 0%, #713980 100%);
    opacity: 0.7;
    color: $white;
  }
}
.btn.btn-outline-primary {
  background: linear-gradient(90deg, #8C5362 0%, #713980 100%);
  color: $white;
  border: unset;

  &:hover{
    border: unset;
    opacity: 0.7;
  }
}

html {
  color: $white;
  font-family: "Montserrat";
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  color:$white;
  background-color:transparent;
}

.card {
  background-color: $bg-color;
  color:$white;
}

.bg1 {
  background: $bg-color asset-url('bg1.svg') no-repeat top;
  background-size: contain;
}

.bg2 {
  background:$bg-color asset-url('bg2.svg') no-repeat bottom;
  background-size: cover;
}

#downloads {
 height: 650px;
 padding-top: 115px;
 &.card {
  background-color: transparent !important;
 }
 
 .card-text {
   opacity: 0.8;
   font-weight: 100;
   img {
    opacity: 0.6;
   }
 }
 h5 {
  font-size:2.5rem;
 }
}

#security_and_trust {
  background: $bg-color asset-url('bg_security_and_trust') left no-repeat;
  background-size: contain;
  // mix-blend-mode: luminosity;
  h1 {
    text-shadow: 1px 2px #743c7c, 2px 1px #8d5460;
  }
  .card-text {
    font-weight: 100;
  }
}

.footer {
  background-color:#7D2864;
}

footer {
  font-family: "Montserrat";
}