// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: $white;
  background-color: $bg_color;
  min-height: 40rem;
}
.reset_pwd, .forgot_pwd {
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.login {
  margin-bottom: 10rem;
  .input-group-text {
    background: $white;
    border-left: unset;
  }
  #forgot-pwd-addon {
    border-right: unset;
    a {
      font-size: 1rem;
      color: #949599;
      &:hover {
        color: #495057;
        text-decoration: none;
      }
    }
  } 
  a {
    color: $pink3;
    font-size: 1.15rem;
    font-weight: lighter;
    &:hover {
      color: $pink2;  
    }
    &.trouble {
      color: $white;
      text-decoration: none;
      &:hover {
      opacity: $opacity;
      }
    }
  }
  
}
.bg_astronaut {
  background: transparent asset-url('coming_soon/astronaut') no-repeat top left;
}
.bg_star {
  background: transparent asset-url('star_2');
}
.status_page {
  background: transparent asset-url('star_2');
  h1 {
    padding-bottom: unset;
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
}
.features {
  font-size:1rem;
  p {
    &.card-text {
      font-weight: 100;
      opacity: $opacity;
    }
  }
  .card-body {
    padding-top:unset;
  }
  .card-header {
    img {
      margin-bottom: 1rem;
    }
    .card-title {
      background: $pink_gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-width: 2px;
      border-style: solid;
      border-left: none; 
      border-right: none; 
      border-top: none;
      border-image: $pink_gradient;
    }
  }

}

.reviews {
  padding: 2rem 5rem;
  margin: 5rem 0;
  
  .card-header {
    opacity: $opacity;
  }
  p {
    padding-bottom: unset;
    &.mb-0 {
      opacity: $opacity;
      font-weight: 100;
    }
    &.card-text {
      font-size: 1.5rem;
    }
  }
  
  .card-footer {
    .review-owner-container {
      opacity:.5;
      z-index: 10;
      &.active {
        opacity: 1;
        z-index: 30;
      }
    }
  }

  .media {
    cursor: pointer;
    padding-bottom: 1rem;
  }

  #summary {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  
  #summary p.collapse:not(.show) {
    height: 110px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,$opacity));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #summary p.collapsing {
    min-height: 110px !important;
  }
  
  #summary a.collapsed:after  {
    content: '+ read more';
  }
  
  #summary a:not(.collapsed):after {
    content: '- read less';
  }
}

.nav {
  border: unset !important;
}
.shadow-vega {
  box-shadow: 10px 10px 100px #5C1D49;
}
.bg-color-vega {
  background: $pink;
}
.color-vega {
  background-color: linear-gradient(90deg, $pink2 0%, $pink 100%);
  color: $pink;
  opacity: $opacity;

  &:hover {
    opacity: 1;
    color: $pink;
  }
}

@media (min-width: 992px) { 
  
  h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 62px;
  }

  p {
    padding-bottom: 20px;
    &.lead {
      font-size: 1.15rem;
      font-weight: 100;
      opacity: 0.8;
    }
  }
  .btn.btn-outline-primary {
    color:rgba(252, 252, 252, 0.85);
    font-weight: lighter;
    // font-size: 1.2erm;
    letter-spacing: 0.02rem;
    padding:8px 20px;
  }
}

.btn.btn-outline-light {
  border: unset;
  &:hover {
    background: linear-gradient(90deg, #8C5362 0%, #713980 100%);
    opacity: $opacity;
    color: $white;
  }
}

.btn.btn-outline-primary {
  background: linear-gradient(90deg, #8C5362 0%, #713980 100%);
  color: $white;
  border: unset;

  &:hover{
    border: unset;
    opacity: $opacity;
  }
}

html {
  color: $white;
  font-family: "Montserrat";
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.card {
  background-color: $bg_color;
  color:$white;
}

.bg1 {
  background: $bg_color asset-url('bg1.svg') no-repeat top;
  background-size: contain;
}

.bg1_cover {
  background: $bg_color asset-url('bg1.svg') no-repeat top;
  background-size: cover;
}

.bg2 {
  background:$bg_color asset-url('bg2_with_vega') no-repeat bottom;
  background-size: cover;
}

.bg2_mars {
  background:$bg_color asset-url('bg2_with_mars') no-repeat bottom;
  background-size: cover;
}

#downloads {
 height: 950px;
 padding-top: 115px;
 &.card {
  background-color: transparent !important;
 }
 
 .card-text {
   opacity: 0.8;
   font-weight: 100;
   img {
    opacity: 0.6;
   }
 }
 h5 {
  font-size:2.5rem;
 }
}

#security_and_trust {
  background: $bg_color asset-url('bg_security_and_trust') left no-repeat;
  background-size: contain;
  h1 {
    text-shadow: 1px 4px #743c7c, 4px 1px #8d5460;
    letter-spacing: 0.04em;
    margin-top: 7rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
  }
  .card-text {
    font-weight: 100;
  }
}

.footer {
  background-color:#7D2864;
}

footer {
  font-family: "Montserrat";
}