<div class="media">
  <!-- <img src="..." class="align-self-center mr-3" alt="..."> -->
  <%= image_tag "reviews/icon.png", {class: 'align-self-center mr-2'} %>
  <div class="media-body">
    <p class="mb-0">Edward Snowden</p>
    <!-- <h4 class="mt-0">Center-aligned media</h4> -->
    <%= image_tag "reviews/img_guardian.png", {class: 'img-fluid'} %>
    <!-- <p>Cras </p> -->
  </div>
</div>