<div class="card mb-3 shadow-sm">
  <div class="card-header">
    <%= image_tag image_name, {class: 'mt-31'} %>
    <h4 class="my-0 font-weight-normal">Plan for 1 year</h4>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title">$2.99 <small class="text-muted">/ mo</small></h1>
    <%= link_to 'Save $ 322.65', '#', {class: 'btn btn-info'} %>
    <h3 class="card-title pricing-card-title text-info"><strike>$430.20</strike></h3>
    <h3 class="card-title pricing-card-title">$107.55 every 3 years</h3>
    <ul class="list-unstyled mt-3 mb-4">
      <li>All Countries</li>
      <li>5 Devices simultaneously</li>
      <li>High Speed</li>
      <li>Unlimited traffic</li>
    </ul>
    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Best offer</button>
  </div>
</div>